In [31]:
import pandas as pd
import numpy as np
from EvGym import config
import cvxpy as cp

In [62]:
x = np.arange(10_000) + 50
y = np.random.rand(10_000)

df_tbl = pd.DataFrame({"x": x, "y": y})
df_tbl.head()

    x         y
0  50  0.565916
1  51  0.731187
2  52  0.962549
3  53  0.553351
4  54  0.164623

In [63]:
df_ibl = df_tbl.copy()
df_ibl = df_ibl.set_index("x")
df_ibl.head()

           y
x
50  0.565916
51  0.731187
52  0.962549
53  0.553351
54  0.164623

In [64]:
for i in x:
    row = df_tbl[df_tbl["x"] == i].iloc[0]

In [65]:
for i in x:
    row = df_ibl.loc[i]

In [66]:
df_price = pd.read_csv("./data/df_price_2019.csv")
df_price = df_price.set_index(["ts"])
df_price.head(30)

                         date  price_da  price_im
ts
166560.0  2019-01-01 00:00:00         0    0.4801
166561.0  2019-01-01 01:00:00         0    0.3903
166562.0  2019-01-01 02:00:00         0    0.2539
166563.0  2019-01-01 03:00:00         0    0.3095
166564.0  2019-01-01 04:00:00         0    0.3885
166565.0  2019-01-01 05:00:00         0    0.2220
166566.0  2019-01-01 06:00:00         0    0.1985
166567.0  2019-01-01 07:00:00         0    0.3532
166568.0  2019-01-01 08:00:00         0    0.3626
166569.0  2019-01-01 09:00:00         0    0.1577
166570.0  2019-01-01 10:00:00         0    1.5702
166571.0  2019-01-01 11:00:00         0    1.6760
166572.0  2019-01-01 12:00:00         0    1.1002
166573.0  2019-01-01 13:00:00         0    0.5706
166574.0  2019-01-01 14:00:00         0    0.4130
166575.0  2019-01-01 15:00:00         0    0.4003
166576.0  2019-01-01 16:00:00         0    0.4067
166577.0  2019-01-01 17:00:00         0    0.4081
166578.0  2019-01-01 18:00:00         0    0.4097
166579.0  2019-01-01 19:00:00         0    0.4497
166580.0  2019-01-01 20:00:00         0    0.1430
166581.0  2019-01-01 21:00:00         0    0.4659
166582.0  2019-01-01 22:00:00         0    0.3866
166583.0  2019-01-01 23:00:00         0    0.2614
166584.0  2019-01-02 00:00:00         0    0.1083
166585.0  2019-01-02 01:00:00         0    0.4078
166586.0  2019-01-02 02:00:00         0    0.3290
166587.0  2019-01-02 03:00:00         0    0.4078
166588.0  2019-01-02 04:00:00         0    0.3334
166589.0  2019-01-02 05:00:00         0    0.4782

In [67]:
idx_min = df_price.index.min().astype(int)
idx_max = df_price.index.max().astype(int)

for i in range(idx_min, idx_max + 1):
    try:
        row = df_price.loc[i]
    except KeyError:
        print(f"KeyError: {i}")

KeyError: 168699

In [68]:
df_price.loc[166789]

date        2019-01-10 13:00:00
price_da                      0
price_im                 0.4367
Name: 166789.0, dtype: object

In [48]:
df_sessions = pd.read_csv(f"{config.data_path}/df_elaad_preproc.csv", parse_dates = ["starttime_parking", "endtime_parking"])
df_sessions[["ts_arr"]].head()

     ts_arr
0  166560.0
1  166570.0
2  166571.0
3  166572.0
4  166572.0

In [49]:
df_sessions["ts_arr"].min()

166560.0

In [69]:
print(df_sessions["ts_dep"].max())
print(df_sessions["ts_arr"].max())

175336.0
175317.0

In [70]:
ts_dep_max = df_sessions["ts_dep"].max()
df_max_dep = df_sessions[df_sessions["ts_dep"] == ts_dep_max]
df_max_dep

,session,ChargePoint,Connector,starttime_parking,endtime_parking,StartCard,connected_time_float,charged_time_float,total_energy,max_power,...,energy_supplied,soc_arr,charged_time,connected_time,ts_arr,ts_dep,ts_soj,laxity,depart_hour,xi
9998,3634012,c92cecb16bd3955b7f367e87ebf38426,1,2019-12-31 17:39:00,2020-01-01 16:00:00,403eb6aaa367622f981857192b726ee7941b717ce3d67e...,22.34,2.75,7.9,3.56,...,29.645,0.599437,3.0,23.0,175313.0,175336.0,23.0,20.25,40.0,109.12523

In [50]:
# KeyError: 168699.0

In [51]:
df_price[(168690 < df_price["ts"]) & (df_price["ts"] < 168710)].head(30)

                     date  price_da  price_im        ts
2131  2019-03-30 19:00:00         0    0.4790  168691.0
2132  2019-03-30 20:00:00         0    0.8622  168692.0
2133  2019-03-30 21:00:00         0    0.3134  168693.0
2134  2019-03-30 22:00:00         0    0.3385  168694.0
2135  2019-03-30 23:00:00         0    0.3190  168695.0
2136  2019-03-31 00:00:00         0   -0.3248  168696.0
2137  2019-03-31 01:00:00         0    0.9661  168697.0
2138  2019-03-31 02:00:00         0    0.3376  168698.0
2139  2019-03-31 04:00:00         0    0.2548  168700.0
2140  2019-03-31 05:00:00         0    0.3590  168701.0
2141  2019-03-31 06:00:00         0    0.3139  168702.0
2142  2019-03-31 07:00:00         0    0.3136  168703.0
2143  2019-03-31 08:00:00         0    0.2686  168704.0
2144  2019-03-31 09:00:00         0    0.3093  168705.0
2145  2019-03-31 10:00:00         0    0.3335  168706.0
2146  2019-03-31 11:00:00         0    0.2686  168707.0
2147  2019-03-31 12:00:00         0    0.2603  168708.0
2148  2019-03-31 13:00:00         0   -1.5003  168709.0

In [2]:

df = pd.DataFrame(data = [[1,2,3],[4,5,6],[7,8,9]], columns = ['a','b','c'])
display(df.head())
df.loc[df["a"] < 5, "c"] = df.loc[df["a"] < 5]["c"] + 1
display(df.head())

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

   a  b  c
0  1  2  4
1  4  5  7
2  7  8  9

In [5]:
all(df.loc[df["a"] < 5]["c"] > 3)

True

In [17]:
l_t0 = df.index[df["a"]==4].to_list()
if len(l_t0) == 1:
    t0 = l_t0[0]
    ls = df.iloc[t0:t0+2]["c"].values
    print(ls)
    print(type(ls))

[7 9]
<class 'numpy.ndarray'>

In [20]:
df.index.max()

2

In [22]:
df.iloc[0:2]

   a  b  c
0  1  2  4
1  4  5  7

In [29]:
i2 = df["a"] == 7
print(len(i2))
print(type(i2))
print(i2)
print(i2.sum())

3
<class 'pandas.core.series.Series'>
0    False
1    False
2     True
Name: a, dtype: bool
1

In [34]:
Y = cp.Variable((5,3))
price = np.array(2,3,4])
Y * price
constraints = []
constraints += [(Y * price) == 100 ]

/home/javier/.local/lib/python3.8/site-packages/cvxpy/interface/numpy_interface/ndarray_interface.py:47: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if result.dtype in [numpy.complex, numpy.float64]:
/home/javier/.local/lib/python3.8/site-packages/cvxpy/expressions/expression.py:550: UserWarning:
This use of ``*`` has resulted in matrix multiplication.
Using ``*`` for matrix multiplication has been deprecated since CVXPY 1.1.
    Use ``*`` for matrix-scalar and vector-scalar multiplication.
    Use ``@`` for matrix-matrix and matrix-vector multiplication.
    Use ``multiply`` for elementwise multiplication.

  warnings.warn(__STAR_MATMUL_WARNING__, UserWarning)
/home/javier/.local/lib/python3.8/site-packages/cvxpy/interface/numpy_interface/ndarray_interface.py:47: DeprecationWarning: `np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if result.dtype in [numpy.complex, numpy.float64]:
/home/javier/.local/lib/python3.8/site-packages/cvxpy/expressions/expression.py:550: UserWarning:
This use of ``*`` has resulted in matrix multiplication.
Using ``*`` for matrix multiplication has been deprecated since CVXPY 1.1.
    Use ``*`` for matrix-scalar and vector-scalar multiplication.
    Use ``@`` for matrix-matrix and matrix-vector multiplication.
    Use ``multiply`` for elementwise multiplication.

  warnings.warn(__STAR_MATMUL_WARNING__, UserWarning)

AttributeError: 'MulExpression' object has no attribute 'sum'