In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [57]:
df_log = pd.read_csv("../ExpLogs/2023-03-30-17:36:22_ev_world.csv")

In [58]:
df_log.describe()

                  ts    arr_e_req  client_bill
count    8778.000000  8776.000000  8776.000000
mean   170947.500000    32.598135     4.563739
std      2534.134665    46.372371     6.492132
min    166559.000000     0.000000     0.000000
25%    168753.250000     0.000000     0.000000
50%    170947.500000     8.300600     1.162084
75%    173141.750000    52.606400     7.364896
max    175336.000000   350.134400    49.018816

In [59]:
df_log.head()

         ts  arr_e_req  client_bill
0  166559.0        NaN          NaN
1  166560.0      10.78       1.5092
2  166561.0       0.00       0.0000
3  166562.0       0.00       0.0000
4  166563.0       0.00       0.0000

In [60]:
df_log.tail()

            ts  arr_e_req  client_bill
8773  175332.0        0.0          0.0
8774  175333.0        0.0          0.0
8775  175334.0        0.0          0.0
8776  175335.0        0.0          0.0
8777  175336.0        NaN          NaN

In [61]:
df_log.arr_e_req.sum()

286081.2328

In [62]:
df_log.client_bill.sum()

40051.372592

In [37]:
df_sessions = pd.read_csv("../data/df_elaad_preproc.csv", parse_dates = ["starttime_parking", "endtime_parking"])
df_sessions.describe()

,session,Connector,connected_time_float,charged_time_float,total_energy,max_power,start_hour,day_no,energy_supplied,soc_arr,charged_time,connected_time,ts_arr,ts_dep,ts_soj,laxity,depart_hour,xi
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,1.000000e+04
mean,3.452817e+06,1.360300,5.822735,2.878022,13.635216,5.589366,12.412600,190.979600,28.608123,0.612398,3.355300,6.328300,171155.923000,171162.251300,6.328300,3.674485e+00,18.740900,1.980143e+01
std,1.076139e+05,0.480111,7.096361,2.644282,14.282036,3.333663,4.532131,110.531348,20.586961,0.257337,2.650125,7.093627,2652.843492,2653.132903,7.093627,6.334915e+00,9.166023,3.413822e+01
min,3.261657e+06,1.000000,0.020000,0.020000,0.100000,0.167000,0.000000,0.000000,0.215600,0.000000,1.000000,1.000000,166560.000000,166568.000000,1.000000,-4.440892e-16,2.000000,-2.393152e-15
25%,3.360979e+06,1.000000,1.510000,1.250000,4.530000,3.398000,9.000000,93.000000,13.475000,0.498375,2.000000,2.000000,168804.000000,168808.750000,2.000000,5.300000e-01,13.000000,2.856117e+00
50%,3.452182e+06,1.000000,3.380000,2.240000,7.830000,3.640000,12.000000,190.000000,24.147200,0.668160,3.000000,4.000000,171128.000000,171133.500000,4.000000,9.600000e-01,16.000000,5.173344e+00
75%,3.547667e+06,2.000000,8.410000,3.500000,18.262500,7.277750,16.000000,294.000000,37.730000,0.801562,4.000000,9.000000,173622.250000,173629.000000,9.000000,4.801484e+00,21.000000,2.587472e+01
max,3.634120e+06,2.000000,161.170000,25.670000,93.929000,22.500000,23.000000,364.000000,77.600000,0.967305,26.000000,162.000000,175317.000000,175336.000000,162.000000,1.548015e+02,175.000000,8.342098e+02

In [38]:
df_sessions["energy_supplied"].sum()

286081.2328

In [39]:
df_sessions["energy_supplied"].sum() * 0.14

40051.37259200001

In [40]:
(0.97 - df_sessions[df_sessions["depart_hour"] < 24]["soc_arr"]).sum() * 0.14 * 80

25699.035991999997

In [56]:
(0.97 - df_sessions["soc_arr"]).sum() * 80 * 0.14

43411.37259200001