In [1]:
from utils import * 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Files
# df_asap, lines = load_res("2023-08-17-15:24:32_ev_world_ASAP")
l__fileexp = ["2023-08-17-15:24:32_ev_world_ASAP", 
              "2023-08-17-15:26:51_ev_world_No-V2G",
              "2023-08-30-18:33:29_ev_world_Optim",
              "2023-09-13-00:22:37_ev_world_Oracle_NoV2G",
              "2023-09-13-08:59:05_ev_world_Oracle",
              "2023-09-14-17:58:22_ev_world_Oracle",
              "2023-09-15-13:38:18_ev_world_Optim_eta1",
              "2023-09-15-13:38:36_ev_world_Oracle_eta1",
              "2023-10-10-20:18:07_ev_world_PPO-sep",
              "2023-10-12-18:18:56_ev_world_PPO-lay",
              "2023-10-26-13:51:16_ev_world_PPO-lay",
              ]

l_exp = ["ASAP", "NoV2G", "Optim", "Oracle_NoV2G", "Oracle", "Oracle", "Optim_eta1", "Oracle_eta1", "RL_untrained_sep", "RL_untrained_lay", "lay2"] 
sum_cols = ["exp", "transf", "client", "payoff"]

df_sum = summ_table(l_exp, l__fileexp)
df_sum.head(20)

                name        transf        client       payoff         total
0               ASAP  14240.008600  40033.958664     0.000000  25793.950064
1              NoV2G   7976.944281  40033.958664     0.000000  32057.014383
2              Optim   6704.185750  40033.958664  1535.107907  31794.665007
3       Oracle_NoV2G   7976.944277  40033.958664  1535.107907  30521.906480
4             Oracle   6704.185743  40033.958664  1535.107907  31794.665014
5             Oracle   6704.185743  40033.958664  1535.107907  31794.665014
6         Optim_eta1   6335.623991  40033.958664  1592.657412  32105.677260
7        Oracle_eta1   6335.623984  40033.958664  1592.657412  32105.677267
8   RL_untrained_sep  12866.025643  40033.958664  1535.107907  25632.825114
9   RL_untrained_lay  12737.157629  40033.958664  1535.107907  25761.693128
10              lay2  12704.881594  40033.958664  1535.107907  25793.969163