In [2]:
from utils import * 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Files
# df_asap, lines = load_res("2023-08-17-15:24:32_ev_world_ASAP")
l__fileexp = ["2023-08-17-15:24:32_ev_world_ASAP", 
              "2023-08-17-15:26:51_ev_world_No-V2G",
              "2023-08-30-18:33:29_ev_world_Optim",]

l_exp = ["ASAP", "NoV2G", "Optim"] #, "NoV2G_lambda_lax"]
sum_cols = ["exp", "transf", "client", "payoff"]
l_sum = []

for fileexp, exp in zip(l__fileexp, l_exp):
    df_exp, lines = load_res(fileexp)
    for line in lines: print(line, end="")
    transf = df_exp["imbalance_bill"].sum()
    client = df_exp["client_bill"].sum()
    payoff = 0
    if exp in ["Optim"]:
        payoff = df_exp["payoff"].sum()

    l_sum.append([exp, transf, client, payoff])

df_sum = pd.DataFrame(l_sum, columns=sum_cols)
df_sum["total"] = df_sum["client"] - df_sum["transf"] - df_sum["payoff"]
df_sum.head(20)

timestamp: 2023-08-17-15:24:32

--Info
title: EvWorld ASAP

--Args
print_dash: False
file_price: df_price_2019.csv
no_save: False
agent: ASAP
timestamp: 2023-08-17-15:26:51

--Info
title: EvWorld No-V2G

--Args
print_dash: False
file_price: df_price_2019.csv
no_save: False
agent: No-V2G
timestamp: 2023-08-30-18:33:29

--Info
title: EvWorld Optim

--Args
print_dash: False
file_price: df_price_2019.csv
no_save: False
agent: Optim
desc:
seed: 42

     exp        transf        client       payoff         total
0   ASAP  14240.008600  40033.958664     0.000000  25793.950064
1  NoV2G   7976.944281  40033.958664     0.000000  32057.014383
2  Optim   6704.185750  40033.958664  1535.107907  31794.665007

## Charge ASAP

In [4]:
df_asap, lines = load_res("2023-08-17-15:24:32_ev_world_ASAP")
for line in lines: print(line, end="")
display(df_asap.info())
transf_asap = df_asap["imbalance_bill"].sum()  
print(f"{transf_asap=:,.2f}€")
client_bill = df_asap["client_bill"].sum()
print(f"{client_bill=:,.2f}€")

timestamp: 2023-08-17-15:24:32

--Info
title: EvWorld ASAP

--Args
print_dash: False
file_price: df_price_2019.csv
no_save: False
agent: ASAP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              8759 non-null   float64
 1   arr_e_req       8758 non-null   float64
 2   client_bill     8758 non-null   float64
 3   chg_e_req       8758 non-null   float64
 4   imbalance_bill  8758 non-null   float64
 5   n_cars          8758 non-null   float64
 6   avg_lax         8758 non-null   float64
dtypes: float64(7)
memory usage: 479.1 KB

None

transf_asap=14,240.01€
client_bill=40,033.96€

In [5]:
df_nov2g, lines = load_res("2023-08-17-15:26:51_ev_world_No-V2G")
for line in lines: print(line, end="")
display(df_asap.info())
transf_nov2g = df_nov2g["imbalance_bill"].sum()  
print(f"{transf_nov2g=:,.2f}€")
client_bill = df_nov2g["client_bill"].sum()
print(f"{client_bill=:,.2f}€")

timestamp: 2023-08-17-15:26:51

--Info
title: EvWorld No-V2G

--Args
print_dash: False
file_price: df_price_2019.csv
no_save: False
agent: No-V2G
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              8759 non-null   float64
 1   arr_e_req       8758 non-null   float64
 2   client_bill     8758 non-null   float64
 3   chg_e_req       8758 non-null   float64
 4   imbalance_bill  8758 non-null   float64
 5   n_cars          8758 non-null   float64
 6   avg_lax         8758 non-null   float64
dtypes: float64(7)
memory usage: 479.1 KB

None

transf_nov2g=7,976.94€
client_bill=40,033.96€

## Optimal

In [6]:
df_optim, lines = load_res("2023-08-30-18:33:29_ev_world_Optim")
for line in lines: print(line, end="")
display(df_optim.info())
transf_optim = df_optim["imbalance_bill"].sum()  
print(f"{transf_optim=:,.2f}€")
client_bill = df_optim["client_bill"].sum()
print(f"{client_bill=:,.2f}€")
payoff_bill = df_optim["payoff"].sum()
print(f"{payoff_bill=:,.2f}€")

timestamp: 2023-08-30-18:33:29

--Info
title: EvWorld Optim

--Args
print_dash: False
file_price: df_price_2019.csv
no_save: False
agent: Optim
desc:
seed: 42
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ts                8759 non-null   float64
 1   arr_e_req         8758 non-null   float64
 2   client_bill       8758 non-null   float64
 3   assigned_type     8758 non-null   object
 4   realized_type     8758 non-null   object
 5   fail_time         8758 non-null   float64
 6   fail_energy1      8758 non-null   float64
 7   fail_energy2      8758 non-null   float64
 8   fail_energy_both  8758 non-null   float64
 9   fail_IR           8758 non-null   float64
 10  chg_e_req         8758 non-null   float64
 11  imbalance_bill    8758 non-null   float64
 12  n_cars            8758 non-null   float64
 13  avg_lax           8758 non-null   float64
 14  payoff            8758 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

None

transf_optim=6,704.19€
client_bill=40,033.96€
payoff_bill=1,535.11€

## Oracle

In [7]:

df_oracle, lines = load_res("2023-09-13-00:22:37_ev_world_Oracle_NoV2G")
for line in lines: print(line, end="")
display(df_oracle.info())
transf_oracle = df_oracle["imbalance_bill"].sum()  
print(f"{transf_oracle=:,.2f}€")
client_bill = df_oracle["client_bill"].sum()
print(f"{client_bill=:,.2f}€")
payoff_bill = df_oracle["payoff"].sum()
print(f"{payoff_bill=:,.2f}€")

timestamp: 2023-09-13-00:22:37

--Info
title: EvWorld Oracle

--Args
print_dash: False
no_save: False
agent: Oracle
desc:
seed: 42
file_price: df_price_2019.csv
file_contracts: ExpLogs/2023-09-11-18:19:52_Contracts_ev_world_Optim.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ts                8759 non-null   float64
 1   arr_e_req         8758 non-null   float64
 2   client_bill       8758 non-null   float64
 3   assigned_type     8758 non-null   object
 4   realized_type     8758 non-null   object
 5   fail_time         8758 non-null   float64
 6   fail_energy1      8758 non-null   float64
 7   fail_energy2      8758 non-null   float64
 8   fail_energy_both  8758 non-null   float64
 9   fail_IR           8758 non-null   float64
 10  chg_e_req         8758 non-null   float64
 11  imbalance_bill    8758 non-null   float64
 12  n_cars            8758 non-null   float64
 13  avg_lax           8758 non-null   float64
 14  payoff            8758 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

None

transf_oracle=7,976.94€
client_bill=40,033.96€
payoff_bill=1,535.11€

In [9]:

df_oracle, lines = load_res("2023-09-13-08:59:05_ev_world_Oracle")

for line in lines: print(line, end="")
display(df_oracle.info())
transf_oracle = df_oracle["imbalance_bill"].sum()  
print(f"{transf_oracle=:,.2f}€")
client_bill = df_oracle["client_bill"].sum()
print(f"{client_bill=:,.2f}€")
payoff_bill = df_oracle["payoff"].sum()
print(f"{payoff_bill=:,.2f}€")

timestamp: 2023-09-13-08:59:05

--Info
title: EvWorld Oracle

--Args
print_dash: False
no_save: False
save_contracts: False
agent: Oracle
desc:
seed: 42
file_price: df_price_2019.csv
file_contracts: ExpLogs/2023-09-11-18:19:52_Contracts_ev_world_Optim.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ts                8759 non-null   float64
 1   arr_e_req         8758 non-null   float64
 2   client_bill       8758 non-null   float64
 3   assigned_type     8758 non-null   object
 4   realized_type     8758 non-null   object
 5   fail_time         8758 non-null   float64
 6   fail_energy1      8758 non-null   float64
 7   fail_energy2      8758 non-null   float64
 8   fail_energy_both  8758 non-null   float64
 9   fail_IR           8758 non-null   float64
 10  chg_e_req         8758 non-null   float64
 11  imbalance_bill    8758 non-null   float64
 12  n_cars            8758 non-null   float64
 13  avg_lax           8758 non-null   float64
 14  payoff            8758 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

None

transf_oracle=6,704.19€
client_bill=40,033.96€
payoff_bill=1,535.11€

In [11]:
df_oracle, lines = load_res("2023-09-14-17:58:22_ev_world_Oracle")

for line in lines: print(line, end="")
display(df_oracle.info())
transf_oracle = df_oracle["imbalance_bill"].sum()  
print(f"{transf_oracle=:,.2f}€")
client_bill = df_oracle["client_bill"].sum()
print(f"{client_bill=:,.2f}€")
payoff_bill = df_oracle["payoff"].sum()
print(f"{payoff_bill=:,.2f}€")

timestamp: 2023-09-14-17:58:22

--Info
title: EvWorld Oracle

--Args
print_dash: False
no_save: False
save_contracts: False
agent: Oracle
desc:
seed: 42
file_price: df_price_2019.csv
file_contracts: ExpLogs/2023-09-13-15:25:05_Contracts_ev_world_Optim.csv
file_sessions: df_elaad_preproc.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ts                8759 non-null   float64
 1   arr_e_req         8758 non-null   float64
 2   client_bill       8758 non-null   float64
 3   assigned_type     8758 non-null   object
 4   realized_type     8758 non-null   object
 5   fail_time         8758 non-null   float64
 6   fail_energy1      8758 non-null   float64
 7   fail_energy2      8758 non-null   float64
 8   fail_energy_both  8758 non-null   float64
 9   fail_IR           8758 non-null   float64
 10  chg_e_req         8758 non-null   float64
 11  imbalance_bill    8758 non-null   float64
 12  n_cars            8758 non-null   float64
 13  avg_lax           8758 non-null   float64
 14  payoff            8758 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.0+ MB

None

transf_oracle=6,704.19€
client_bill=40,033.96€
payoff_bill=1,535.11€