In [12]:
from utils import * 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
# Files
# df_asap, lines = load_res("2023-08-17-15:24:32_ev_world_ASAP")
l__fileexp = ["2023-08-17-15:24:32_ev_world_ASAP", 
              "2023-08-17-15:26:51_ev_world_No-V2G",
              "2023-08-30-18:33:29_ev_world_Optim",
              "2023-09-13-00:22:37_ev_world_Oracle_NoV2G",
              "2023-09-13-08:59:05_ev_world_Oracle",
              "2023-09-14-17:58:22_ev_world_Oracle",
              "2023-09-15-13:38:18_ev_world_Optim_eta1",
              "2023-09-15-13:38:36_ev_world_Oracle_eta1",
              "2023-10-10-20:18:07_ev_world_PPO-sep",
              "2023-10-12-18:18:56_ev_world_PPO-lay",
              "2023-10-26-13:51:16_ev_world_PPO-lay",
              "2023-10-26-18:59:09_ev_world_PPO-agg",
              "2023-10-30-15:46:38_ev_world_PPO-lay",
              "2023-10-30-19:11:03_ev_world_PPO-agg",
              "2023-10-30-19:31:40_ev_world_2023-10-30-19:11:03_PPO-agg",
              "2023-10-30-19:56:30_ev_world_2023-10-30-19:11:03_PPO-agg",
              "2023-10-30-20:14:47_ev_world_2023-10-30-19:56:30_2023-10-30-19:11:03_PPO-agg",
              "2023-10-30-21:23:29_ev_world_PPO-lay",
              "2023-10-30-23:30:15_ev_world_2023-10-30-21:23:29_PPO-lay",
              "2023-10-31-00:03:24_ev_world_2023-10-30-23:30:15_2023-10-30-21:23:29_PPO-lay",
              "2023-10-31-00:40:34_ev_world_PPO-lay",
              "2023-10-31-09:05:18_ev_world_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-09:45:35_ev_world_2023-10-31-09:05:18_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-11:15:04_ev_world_3_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-11:38:12_ev_world_2023-10-31-11:15:04_3_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-12:13:44_ev_world_2023-10-31-11:38:12_2023-10-31-11:15:04_3_2023-10-31-00:40:34_PPO-lay",
              "neg_rew_0",
              "neg_rew_1",
              "neg_rew_2",
              "lay_0",
              "lay_1",
              "lay_2",
              "lay_3",
              "lay_4",
              "lay_5",
              "lay_std_0",
              "lay_std_1",
              "lay_std_2",
              "a_agg_0",
              "a_agg_1",
              "a_agg_2",
              "a_agg_3",
              "a_agg_4",
              "a_agg_5",
              "a_agg_6",
              "a_agg_7",
              "a_agg_8",
              "a_agg_9",
              "a_agg_10",
              "a_agg_11",
              "lay_act_crit_0",
              "lay_act_crit_1",
              "lay_act_crit_2",
              "lay_act_crit_3",
              "lay_act_crit_4",
              ]

l_exp = ["ASAP", "NoV2G", "Optim", "Oracle_NoV2G", "Oracle", "Oracle",
          "Optim_eta1", "Oracle_eta1", "RL_untrained_sep", "RL_untrained_lay",
            "lay2", "agg", "lay3", "agg_untrained", "agg_trained", "agg_trained",
              "agg_trained_2", "lay", "lay_trained", "lay_trained_2", "lay_norm_0", "lay_norm_1",
              "lay_norm_2", "lay_norm_3", "lay_norm_4", "lay_norm_5",
              "neg_rew_0", "neg_rew_1", "neg_rew_2", 
              "lay_0",
              "lay_1",
              "lay_2",
              "lay_3",
              "lay_4",
              "lay_5",
              "lay_std_0",
              "lay_std_1",
              "lay_std_2",
              "a_agg_0",
              "a_agg_1",
              "a_agg_2",
              "a_agg_3",
              "a_agg_4",
              "a_agg_5",
              "a_agg_6",
              "a_agg_7",
              "a_agg_8",
              "a_agg_9",
              "a_agg_10",
              "a_agg_11",
              "lay_act_crit_0",
              "lay_act_crit_1",
              "lay_act_crit_2",
              "lay_act_crit_3",
              "lay_act_crit_4",
              ] 
sum_cols = ["exp", "transf", "client", "payoff"]

df_sum = summ_table(l_exp, l__fileexp)
df_sum.head(100)

                name        transf        client       payoff         total
0               ASAP  14240.008600  40033.958664     0.000000  25793.950064
1              NoV2G   7976.944281  40033.958664     0.000000  32057.014383
2              Optim   6704.185750  40033.958664  1535.107907  31794.665007
3       Oracle_NoV2G   7976.944277  40033.958664  1535.107907  30521.906480
4             Oracle   6704.185743  40033.958664  1535.107907  31794.665014
5             Oracle   6704.185743  40033.958664  1535.107907  31794.665014
6         Optim_eta1   6335.623991  40033.958664  1592.657412  32105.677260
7        Oracle_eta1   6335.623984  40033.958664  1592.657412  32105.677267
8   RL_untrained_sep  12866.025643  40033.958664  1535.107907  25632.825114
9   RL_untrained_lay  12737.157629  40033.958664  1535.107907  25761.693128
10              lay2  12704.881594  40033.958664  1535.107907  25793.969163
11               agg  12408.900549  40033.958664  1535.107907  26089.950208
12              lay3  12638.808728  40033.958664  1535.107907  25860.042029
13     agg_untrained  12408.900549  40033.958664  1535.107907  26089.950208
14       agg_trained  12395.992340  40033.958664  1535.107907  26102.858417
15       agg_trained  12395.992340  40033.958664  1535.107907  26102.858417
16     agg_trained_2  12396.161296  40033.958664  1535.107907  26102.689461
17               lay  12638.808728  40033.958664  1535.107907  25860.042029
18       lay_trained  12760.509700  40033.958664  1535.107907  25738.341057
19     lay_trained_2  12731.842063  40033.958664  1535.107907  25767.008694
20        lay_norm_0  12958.260995  40033.958664  1535.107907  25540.589762
21        lay_norm_1  12966.013979  40033.958664  1535.107907  25532.836778
22        lay_norm_2  12983.087443  40033.958664  1535.107907  25515.763314
23        lay_norm_3  12988.336116  40033.958664  1535.107907  25510.514641
24        lay_norm_4  12981.461028  40033.958664  1535.107907  25517.389729
25        lay_norm_5  12962.866531  40033.958664  1535.107907  25535.984226
26         neg_rew_0  13056.739203  40033.958664  1535.107907  25442.111554
27         neg_rew_1  13069.510908  40033.958664  1535.107907  25429.339849
28         neg_rew_2  13089.424756  40033.958664  1535.107907  25409.426001
29             lay_0  13034.827601  40033.958664  1535.107907  25464.023156
30             lay_1  13050.587759  40033.958664  1535.107907  25448.262998
31             lay_2  13045.160933  40033.958664  1535.107907  25453.689824
32             lay_3  13043.762671  40033.958664  1535.107907  25455.088086
33             lay_4  13039.350066  40033.958664  1535.107907  25459.500691
34             lay_5  13038.378782  40033.958664  1535.107907  25460.471975
35         lay_std_0  13055.778414  40033.958664  1535.107907  25443.072343
36         lay_std_1  13138.305257  40033.958664  1535.107907  25360.545500
37         lay_std_2  13137.437400  40033.958664  1535.107907  25361.413357
38           a_agg_0  12377.451358  40033.958664  1535.107907  26121.399399
39           a_agg_1  12385.425764  40033.958664  1535.107907  26113.424993
40           a_agg_2  12385.455100  40033.958664  1535.107907  26113.395657
41           a_agg_3  12385.409398  40033.958664  1535.107907  26113.441359
42           a_agg_4  12385.735894  40033.958664  1535.107907  26113.114863
43           a_agg_5  12385.017059  40033.958664  1535.107907  26113.833698
44           a_agg_6  12385.288325  40033.958664  1535.107907  26113.562432
45           a_agg_7  12385.075491  40033.958664  1535.107907  26113.775266
46           a_agg_8  12384.375397  40033.958664  1535.107907  26114.475360
47           a_agg_9  12385.107365  40033.958664  1535.107907  26113.743392
48          a_agg_10  12385.178039  40033.958664  1535.107907  26113.672718
49          a_agg_11  12385.053264  40033.958664  1535.107907  26113.797493
50    lay_act_crit_0  12974.041929  40033.958664  1535.107907  25524.808828
51    lay_act_crit_1  13052.793587  40033.958664  1535.107907  25446.057170
52    lay_act_crit_2  13035.272239  40033.958664  1535.107907  25463.578518
53    lay_act_crit_3  13045.229031  40033.958664  1535.107907  25453.621726
54    lay_act_crit_4  13005.470259  40033.958664  1535.107907  25493.380498

In [14]:
df_sum.to_csv("df_sum.csv", index=False )

In [18]:
l_exp_1 = [f"lay_act_crit_{i}" for i in range(25)]
l_exp_2 = {f"lay_act_crit_smalrwd_{i}" for i in range(12)}


sum_cols = ["exp", "transf", "client", "payoff"]

df_sum = summ_table(l_exp, l_exp)
df_sum.head(100)

               name        transf        client       payoff         total
0    lay_act_crit_0  12974.041929  40033.958664  1535.107907  25524.808828
1    lay_act_crit_1  13052.793587  40033.958664  1535.107907  25446.057170
2    lay_act_crit_2  13035.272239  40033.958664  1535.107907  25463.578518
3    lay_act_crit_3  13045.229031  40033.958664  1535.107907  25453.621726
4    lay_act_crit_4  13005.470259  40033.958664  1535.107907  25493.380498
5    lay_act_crit_5  13042.138882  40033.958664  1535.107907  25456.711875
6    lay_act_crit_6  13022.863539  40033.958664  1535.107907  25475.987218
7    lay_act_crit_7  12993.572631  40033.958664  1535.107907  25505.278126
8    lay_act_crit_8  12962.282774  40033.958664  1535.107907  25536.567983
9    lay_act_crit_9  12920.043677  40033.958664  1535.107907  25578.807080
10  lay_act_crit_10  12847.976960  40033.958664  1535.107907  25650.873797
11  lay_act_crit_11  12843.073210  40033.958664  1535.107907  25655.777547
12  lay_act_crit_12  12812.635707  40033.958664  1535.107907  25686.215050
13  lay_act_crit_13  12826.792257  40033.958664  1535.107907  25672.058500
14  lay_act_crit_14  12780.186768  40033.958664  1535.107907  25718.663989
15  lay_act_crit_15  12813.224857  40033.958664  1535.107907  25685.625900
16  lay_act_crit_16  12783.308604  40033.958664  1535.107907  25715.542153
17  lay_act_crit_17  12816.627425  40033.958664  1535.107907  25682.223332
18  lay_act_crit_18  12882.114561  40033.958664  1535.107907  25616.736196
19  lay_act_crit_19  12934.493729  40033.958664  1535.107907  25564.357028
20  lay_act_crit_20  13035.892066  40033.958664  1535.107907  25462.958691
21  lay_act_crit_21  12903.569330  40033.958664  1535.107907  25595.281427
22  lay_act_crit_22  12936.204865  40033.958664  1535.107907  25562.645892
23  lay_act_crit_23  12935.749377  40033.958664  1535.107907  25563.101380
24  lay_act_crit_24  12959.670512  40033.958664  1535.107907  25539.180245