In [7]:
from utils import * 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# Files
# df_asap, lines = load_res("2023-08-17-15:24:32_ev_world_ASAP")
l__fileexp = ["2023-08-17-15:24:32_ev_world_ASAP", 
              "2023-08-17-15:26:51_ev_world_No-V2G",
              "2023-08-30-18:33:29_ev_world_Optim",
              "2023-09-13-00:22:37_ev_world_Oracle_NoV2G",
              "2023-09-13-08:59:05_ev_world_Oracle",
              "2023-09-14-17:58:22_ev_world_Oracle",
              "2023-09-15-13:38:18_ev_world_Optim_eta1",
              "2023-09-15-13:38:36_ev_world_Oracle_eta1",
              "2023-10-10-20:18:07_ev_world_PPO-sep",
              "2023-10-12-18:18:56_ev_world_PPO-lay",
              "2023-10-26-13:51:16_ev_world_PPO-lay",
              "2023-10-26-18:59:09_ev_world_PPO-agg",
              "2023-10-30-15:46:38_ev_world_PPO-lay",
              "2023-10-30-19:11:03_ev_world_PPO-agg",
              "2023-10-30-19:31:40_ev_world_2023-10-30-19:11:03_PPO-agg",
              "2023-10-30-19:56:30_ev_world_2023-10-30-19:11:03_PPO-agg",
              "2023-10-30-20:14:47_ev_world_2023-10-30-19:56:30_2023-10-30-19:11:03_PPO-agg",
              "2023-10-30-21:23:29_ev_world_PPO-lay",
              "2023-10-30-23:30:15_ev_world_2023-10-30-21:23:29_PPO-lay",
              "2023-10-31-00:03:24_ev_world_2023-10-30-23:30:15_2023-10-30-21:23:29_PPO-lay",
              "2023-10-31-00:40:34_ev_world_PPO-lay",
              "2023-10-31-09:05:18_ev_world_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-09:45:35_ev_world_2023-10-31-09:05:18_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-11:15:04_ev_world_3_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-11:38:12_ev_world_2023-10-31-11:15:04_3_2023-10-31-00:40:34_PPO-lay",
              "2023-10-31-12:13:44_ev_world_2023-10-31-11:38:12_2023-10-31-11:15:04_3_2023-10-31-00:40:34_PPO-lay",
              "neg_rew_0",
              "neg_rew_1",
              "neg_rew_2",
              "lay_0",
              "lay_1",
              "lay_2",
              "lay_3",
              "lay_4",
              "lay_5",
              ]

l_exp = ["ASAP", "NoV2G", "Optim", "Oracle_NoV2G", "Oracle", "Oracle",
          "Optim_eta1", "Oracle_eta1", "RL_untrained_sep", "RL_untrained_lay",
            "lay2", "agg", "lay3", "agg_untrained", "agg_trained", "agg_trained",
              "agg_trained_2", "lay", "lay_trained", "lay_trained_2", "lay_norm_0", "lay_norm_1",
              "lay_norm_2", "lay_norm_3", "lay_norm_4", "lay_norm_5",
              "neg_rew_0", "neg_rew_1", "neg_rew_2", 
              "lay_0",
              "lay_1",
              "lay_2",
              "lay_3",
              "lay_4",
              "lay_5",
              ] 
sum_cols = ["exp", "transf", "client", "payoff"]

df_sum = summ_table(l_exp, l__fileexp)
df_sum.head(50)

                name        transf        client       payoff         total
0               ASAP  14240.008600  40033.958664     0.000000  25793.950064
1              NoV2G   7976.944281  40033.958664     0.000000  32057.014383
2              Optim   6704.185750  40033.958664  1535.107907  31794.665007
3       Oracle_NoV2G   7976.944277  40033.958664  1535.107907  30521.906480
4             Oracle   6704.185743  40033.958664  1535.107907  31794.665014
5             Oracle   6704.185743  40033.958664  1535.107907  31794.665014
6         Optim_eta1   6335.623991  40033.958664  1592.657412  32105.677260
7        Oracle_eta1   6335.623984  40033.958664  1592.657412  32105.677267
8   RL_untrained_sep  12866.025643  40033.958664  1535.107907  25632.825114
9   RL_untrained_lay  12737.157629  40033.958664  1535.107907  25761.693128
10              lay2  12704.881594  40033.958664  1535.107907  25793.969163
11               agg  12408.900549  40033.958664  1535.107907  26089.950208
12              lay3  12638.808728  40033.958664  1535.107907  25860.042029
13     agg_untrained  12408.900549  40033.958664  1535.107907  26089.950208
14       agg_trained  12395.992340  40033.958664  1535.107907  26102.858417
15       agg_trained  12395.992340  40033.958664  1535.107907  26102.858417
16     agg_trained_2  12396.161296  40033.958664  1535.107907  26102.689461
17               lay  12638.808728  40033.958664  1535.107907  25860.042029
18       lay_trained  12760.509700  40033.958664  1535.107907  25738.341057
19     lay_trained_2  12731.842063  40033.958664  1535.107907  25767.008694
20        lay_norm_0  12958.260995  40033.958664  1535.107907  25540.589762
21        lay_norm_1  12966.013979  40033.958664  1535.107907  25532.836778
22        lay_norm_2  12983.087443  40033.958664  1535.107907  25515.763314
23        lay_norm_3  12988.336116  40033.958664  1535.107907  25510.514641
24        lay_norm_4  12981.461028  40033.958664  1535.107907  25517.389729
25        lay_norm_5  12962.866531  40033.958664  1535.107907  25535.984226
26         neg_rew_0  13056.739203  40033.958664  1535.107907  25442.111554
27         neg_rew_1  13069.510908  40033.958664  1535.107907  25429.339849
28         neg_rew_2  13089.424756  40033.958664  1535.107907  25409.426001