In [28]:
from utils import * 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast
import math

In [39]:
df_exp, lines = load_res("2023-09-11-18:19:52_ev_world_Optim")
df_cont = pd.read_csv("../ExpLogs/2023-09-11-18:19:52_Contracts_ev_world_Optim.csv")
agg_contracts = []
i = 0
for row in df_exp.itertuples():
    if not (type(row.realized_type) == float and math.isnan(row.realized_type)):
        str_realized_type = row.realized_type.replace(" ", ",")
        agg_contracts.append(ast.literal_eval(str_realized_type))
exp_realized_contracts = np.array(agg_contracts).sum(axis=0)
print(exp_realized_contracts)

[[  0. 937. 327.]
 [  0. 666. 347.]
 [304. 366. 262.]]

In [41]:
cont_realized_contracts = np.zeros((3,3))

for row in df_cont.itertuples():
    if row.idx_theta_w != -1 and row.idx_theta_l != -1:
        cont_realized_contracts[row.idx_theta_w, row.idx_theta_l] += 1
print(cont_realized_contracts)

[[  0. 937. 327.]
 [  0. 666. 347.]
 [304. 366. 262.]]

In [42]:
df_cont.describe()

,idSess,w,l,g,idx_theta_w,idx_theta_l
count,9.997000e+03,9997.000000,9997.000000,9997.000000,9997.000000,9997.000000
mean,3.452763e+06,9.133401,4.555167,0.541456,-0.142143,0.166750
std,1.075844e+05,3.559460,1.622016,0.111757,0.961494,1.113462
min,3.261657e+06,4.714659,2.000000,0.353956,-1.000000,-1.000000
25%,3.360960e+06,4.714659,3.000000,0.428229,-1.000000,-1.000000
50%,3.452128e+06,12.335761,6.000000,0.605432,0.000000,0.000000
75%,3.547565e+06,12.335761,6.000000,0.668303,0.000000,1.000000
max,3.634022e+06,12.335761,6.000000,0.668303,2.000000,2.000000