In [ ]:
from utils import * 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)

In [7]:
df_ASAP = pd.read_csv('./../ExpLogs/summ_c_ASAP.csv')
df_NoV2G = pd.read_csv('./../ExpLogs/summ_c_NoV2G.csv')
df_Optim = pd.read_csv('./../ExpLogs/summ_c_Optim.csv')
df_Optim1 = pd.read_csv('./../ExpLogs/summ_c2_Optim.csv')

df_res = pd.concat([df_ASAP, df_NoV2G, df_Optim, df_Optim1], axis=0).reset_index(drop=True)
df_res

       name        transf        client       payoff         total
0    c_ASAP  14937.478645  18301.238246     0.000000   3363.759602
1   c_NoV2G   7522.477944  18301.238246     0.000000  10778.760303
2   c_Optim   6181.244077  18301.238246  1535.183674  10584.810496
3  c2_Optim   4356.432017  18301.238246  1253.999285  12690.806944